<h1>Orders List</h1>

<% if current_member.admin %>
Past orders are used to estimate demand and generate reports, so please don't delete them :).<br><br>
<% end %>

<table>
  <tr>
    <th>Member</th>
    <th>Date Placed</th>
    <th>Planned Pickup</th>
    <th>Paid</th>
    <th>Taken</th>
    <th>Cost</th>
    <th>Notes</th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.member.name %></td>
    <td><%= order.created_at.strftime('%Y-%m-%d') %></td>
    <td><%= order.pickup_on.nil? ? "Not specified" : order.pickup_on.strftime('%A %b %d') %></td>
    <td><% if current_member.admin? %>
      <div style="text-align: center;">
      <a href="/orders/<%= order.id %>/toggle_paid?paypal=0"><%= image_tag("/images/check_" + (order.paid ? "on" : "off") + ".s.png",:border=>0) %></a>
      <a href="/orders/<%= order.id %>/toggle_paid?paypal=1"><%= image_tag("/images/pp_check_" + (order.paid_with_paypal ? "on" : "off") + ".s.png",:border=>0) %></a>
      </div>
    <% end %>
   </td>
    <td>
    <div style="text-align: center;">
    <% if current_member.admin? %>
      <a href="/orders/<%= order.id %>/toggle_taken"><%= image_tag("/images/check_" + (order.taken ? "on" : "off") + ".s.png",:border=>0) %></a>
    <% end %>
    </div>
    </td>
    <td><%= sprintf('$%.02f',order.cost) %></td>
    <td><%= word_wrap(order.notes,20).gsub("\n","<br>").html_safe unless order.notes.nil? %></td>
    <td><%= link_to image_tag("/images/view_button.s.png",:border=>0), order %><br>
        <%= link_to image_tag("/images/edit_button.s.png",:border=>0), edit_order_path(order) %><br>
        <%= link_to image_tag("/images/nix_button.s.png",:border=>0), order, :confirm => 'Are you sure?', :method => :delete %><br>
    </td>
    <% if current_member.admin or (!order.paid and !order.taken) %>
    <td>
     <% unless order.paid %>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBcL1m6jR5nDgr7oWManZzwMR04Gy0cVJv4+Oo8zkSjys0etWwXgqbQ5u+jYGD+5cr6W0nAahEF/i1qOgshol6Drs7vWoLcPgcX6/4Y/MVjM2D6fYpU0Thhf4AOAHEyBQJcw5PjJhfpVFse/dDzVD6bzI9uK+1MOSy3CScJedOFADELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQII89CJklDqM2AgZBRCyYjhfIkzmVE7/k7dld0Ir7lByXgeMBGb/PdCFuV56Q/0RhEviZEf10qjcADdTxU7cm89Z+8/z/ucghTJZ53GJO6iTmWA9o/O/8WZiScXEzdwVnNDokhQE1wC63lMaL4aijbH1Ygi3JORVTwzo+UXkw4hxyMhgBfeCsA5OZ5lJwtDo0qMUOEdaATdmOXngugggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDAxMDYxNTA3MjRaMCMGCSqGSIb3DQEJBDEWBBTAMudk0/ZUekDCACbbz+5+BVHHdzANBgkqhkiG9w0BAQEFAASBgJAO7M0FK+JsCbT96TWIHtXEB4jlPmXHw6/6oaW/BCXUIbJWcEzBKeCSDDtHVAo3zxT/AS+7eqH6LpuzJCWGzciAJu1N0mqUXy6WvHXFoTK63fBohoCAYCsHRNcLLgXZiuKLgLvgB3yiqG27QNxoVCg8v4C5zxVTHHcbgPNWWW/2-----END PKCS7-----
">
        <!-- <input type="hidden" name="business" value="info@sunshinefoodproject.org"> -->
        <input type="hidden" name="item_name" value="Sunshine Food Project Order #<%= order.id %> for <%= order.member.name %>">  
        <input type="hidden" name="amount" value="<%= sprintf("%.02f",order.paypal_cost) %>">  
        <!-- <input type="hidden" name="notify_url" value=""> -->
        <input type="image" name="submit" border="0"  
             src="https://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif"  
             alt="PayPal - The safer, easier way to pay online">  
      </form>
      <div style="text-align: center; font-size: 8pt;">(<%= sprintf("$%.02f",order.paypal_cost) %> w/fees)</div>
     <% end %>
    <% else %>
    <td colspan=3>
    <% end %>
  </tr>
<% end %>
</table>
