<h1>Listing fees</h1>

<table>
  <tr>
    <th>Kind</th>
    <th>Amount</th>
    <th>Due</th>
    <th>Member</th>
    <th>Marked paid by</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fees.each do |fee| %>
  <tr>
    <td><%= fee.kind %></td>
    <td><%= fee.amount %></td>
    <td><%= fee.due %></td>
    <td><%= fee.member.nil? ? "?" : fee.member.name %></td>
    <td><%= fee.marked_paid_by.name unless fee.marked_paid_by.nil? %></td>
    <td><% if current_member.admin? %>
      <div style="text-align: center;">
      <a href="/fees/<%= fee.id %>/toggle_paid?paypal=0"><%= image_tag("/images/check_" + (fee.paid ? "on" : "off") + ".s.png",:border=>0) %></a>
      <a href="/fees/<%= fee.id %>/toggle_paid?paypal=1"><%= image_tag("/images/pp_check_" + (fee.paypal ? "on" : "off") + ".s.png",:border=>0) %></a>
      </div>
    <% end %>
    <td>
     <% unless fee.paid or fee.paypal_cost.nil? %>
     <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAVFpJXCmddPEaJdXI625ffyCI0gHIPH5VBN1dNLGvpCaerJfaPf1FRYqDvKSZLUVMl65zQXmkePdLv7Ez2uhzkv2Cur9ScUIpuQtG0UJJRDLBhOpdMH1s9YHbojfCCHNZhp+8STOud0HHaspbafD1FW8lc7MFwizKI/6zhwO7+qzELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIe49VIVuClYOAgZBkfpXn0gfT1yAa4CFoRleEdY68hMI18OeLDFiaaIs9zGQKwolCzX7gxauM+VPYGnXzqzCTWd+60I7BQapw2VrObe75sJoO5PEkPwHSRQ1l8EIPTajMzqWMDU7oVVhJccDBdA/4s+NXJbgk28CJBDTw/v/YFjTkE4ssQhP8RztJdcvWuR+HEVTXDa+rBD5CYiKgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNDAxMDYwNjE0MDBaMCMGCSqGSIb3DQEJBDEWBBTAMudk0/ZUekDCACbbz+5+BVHHdzANBgkqhkiG9w0BAQEFAASBgGSxF54tF6w7yZp5lRkbXGI4XjUrtyvXo5ExRtzLUnrYVOjWw/rGCwBssMmjlzH1khdK+Pv6MGzcVAaVeYx0OeK3K9NW5rfeeMWShWnRvkLSauTjt5pBR3e/FYI7FNkeLdrM7bvWTkYpJANq1MwRgeTCldxNUOHNI1HIzuMqtQwR-----END PKCS7-----
">
        <input type="hidden" name="business" value="info@sunshinefoodproject.org">
        <input type="hidden" name="item_name" value="Sunshine Food Project Fee #<%= fee.id %> (<%= fee.kind %>) for <%= fee.member.nil? ? "?" : fee.member.name %>">
        <input type="hidden" name="amount" value="<%= sprintf("%.02f",fee.paypal_cost) %>">
        <!-- <input type="hidden" name="notify_url" value=""> -->
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
     </form>
      <div style="text-align: center; font-size: 8pt;">(<%= sprintf("$%.02f",fee.paypal_cost) %> w/fees)</div>
     <% end %>
    <td><%= link_to  image_tag("/images/edit_button.s.png",:border=>0), edit_fee_path(fee) %></td>
    <td><%= link_to  image_tag("/images/nix_button.s.png",:border=>0), fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
